:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #0a0a09;
  background: -webkit-linear-gradient(
    180deg,
    rgba(10, 10, 9, 1) 0%,
    rgba(19, 20, 18, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(10, 10, 9, 1) 0%,
    rgba(19, 20, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(10, 10, 9, 1) 0%,
    rgba(19, 20, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0A0A09", endColorstr="#131412", GradientType=0);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100vh;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
